<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="AmazonWebServiceNameSpace" value="http://webservices.amazon.com/AWSECommerceService/2011-08-01" />
    <add key="AccessKey" value="PLEASE_UPDATE_THIS_VALUE" />
    <add key="SecretKey" value="PLEASE_UPDATE_THIS_VALUE" />
    <add key="AssociateTag" value="PLEASE_UPDATE_THIS_VALUE" />
  </appSettings>
</configuration>